<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Morning Digest</h1>
      <p class="lead">Serving you interesting reads and a weather forecast for your morning.</p>
    </div>
  </div>
</div>
