<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1><%= @description %></h1>
      <p><%= @temperature %></p>
      <p><%= @weather_message %></p>
      <p><%= @user_longitude %></p>
    </div>
  </div>
</div>
